{% extends "olga/base.html" %}
{% load compress %}

{% block extrahead %}
{{ block.super }}
<script type="text/template" id="site-view-template">
{% include "olga/partials/site-view.html" %}
</script>
<script type="text/template" id="page-view-template">
{% include "olga/partials/page-view.html" %}
</script>
<script type="text/template" id="user-view-template">
{% include "olga/partials/user-view.html" %}
</script>
<script type="text/template" id="timeline-player-template">
{% include "olga/partials/timeline-player.html" %}
</script>
<script type="text/template" id="annotation-view-template">
{% include "olga/partials/annotation-view.html" %}
</script>
<script type="text/template" id="annotation-edit-template">
{% include "olga/partials/annotation-edit.html" %}
</script>
<script type="text/template" id="annotation-player-template">
{% include "olga/partials/annotation-player.html" %}
</script>
{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}components/jasmine/lib/jasmine-core/jasmine.css">
<!-- <link rel="stylesheet" href="{{ STATIC_URL }}components/jquery-ui/themes/base/minified/jquery-ui.min.css"> -->
<link rel="stylesheet" href="{{ STATIC_URL }}components/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="{{ STATIC_URL }}components/jquery.contextual/aa.jquery.contextual.css">
<link rel="stylesheet" href="{{ STATIC_URL }}components/mediaelement/build/mediaelementplayer.css" />

<link rel="stylesheet" href="{{ STATIC_URL }}olga/css/olga.css" />
{% endcompress %}
{% endif %}

<style>
body {
    width: inherit;
    height: inherit;
    background-color: #fff;
}
article#canvas {
    box-sizing: border-box;
    right: 420px;
}
#HTMLReporter {
    box-sizing: border-box;
    width: 420px;
    min-height: 100%;
    padding: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #eeeeee;
}
</style>
{% endblock %}


{% block body %}
<header id="sidebar">
    <div id="site-meta-container">
        
    </div>
    <div id="user-meta-container">
        
    </div>
    <div id="page-meta-container">
        
    </div>
</header>
<div id="timeline">
    
</div>
<article id="canvas">
</article>
<div class="error">
</div>


{% endblock %}

{% block js %}
{{ block.super }}

<!-- Disabled for now as we don't use it -->
<!--<script src="{{ STATIC_URL }}components/typogr.js/typogr.min.js"></script>-->

<script src="{{ STATIC_URL }}components/jasmine/lib/jasmine-core/jasmine.js"></script>
<script src="{{ STATIC_URL }}components/jasmine/lib/jasmine-core/jasmine-html.js"></script>

<script src="{{ STATIC_URL }}components/jquery/dist/jquery.min.js"></script>
<script src="{{ STATIC_URL }}components/jquery-ui/ui/minified/jquery-ui.custom.min.js"></script>

<script src="{{ STATIC_URL }}components/jasmine-jquery/lib/jasmine-jquery.js"></script>
<!--
lodash is a superset of underscore. We use it as it provides a couple of
additional useful functions, and it is supposed to be faster. In case there is
a bug with backbone (which relies on underscore), we can use lodash underscore
compatble build. See <https://github.com/lodash/lodash/wiki/build-differences>
-->
<!--<script src="{{ STATIC_URL }}components/underscore/underscore.js"></script>-->
<script src="{{ STATIC_URL }}components/lodash/dist/lodash.js"></script>

<script src="{{ STATIC_URL }}components/backbone/backbone.js"></script>
<script src="{{ STATIC_URL }}components/backbone-tastypie/backbone_tastypie/static/js/backbone-tastypie.js"></script>
<script src="{{ STATIC_URL }}components/backbone-associations/backbone-associations.js"></script>

<script src="{{ STATIC_URL }}components/popcorn-js/popcorn-complete.js"></script>
<script src="{{ STATIC_URL }}components/moment/moment.js"></script>
<script src="{{ STATIC_URL }}olga/js/plugins/aa.popcorn.js"></script>

<script src="{{ STATIC_URL }}components/jquery.contextual/aa.jquery.contextual.js"></script>
<script src="{{ STATIC_URL }}components/jQuery-caret-utilities/jquery.caret.js"></script>
<script src="{{ STATIC_URL }}components/jquery.hotkeys/jquery.hotkeys.js"></script>

<script src="{{ STATIC_URL }}components/js-yaml-front-matter/build.js"></script>
<script src="{{ STATIC_URL }}components/js-yaml/js-yaml.js"></script>


<script src="{{ STATIC_URL }}olga/js/plugins/aa.jquery.renderResources.js"></script>
<script src="{{ STATIC_URL }}olga/js/markup/markdown.js"></script>

<script src="{{ STATIC_URL }}olga/js/widgets.js"></script>
<script src="{{ STATIC_URL }}olga/js/utils.js"></script>
<script src="{{ STATIC_URL }}olga/js/models.js"></script>
<script src="{{ STATIC_URL }}olga/js/collections.js"></script>
<script src="{{ STATIC_URL }}olga/js/views.js"></script>
<script src="{{ STATIC_URL }}olga/js/global-events.js"></script>
<script src="{{ STATIC_URL }}olga/js/router.js"></script>
<script src="{{ STATIC_URL }}olga/js/error-handling.js"></script>

<script src="{{ STATIC_URL }}olga/js/tests/utils.js"></script>
<script src="{{ STATIC_URL }}olga/js/tests/views.js"></script>


<script type="text/javascript">
    (function () {
        var jasmineEnv = jasmine.getEnv();
        jasmineEnv.updateInterval = 1000;

        var htmlReporter = new jasmine.HtmlReporter();

        jasmineEnv.addReporter(htmlReporter);

        jasmineEnv.specFilter = function (spec) {
            return htmlReporter.specFilter(spec);
        };

        var currentWindowOnload = window.onload;

        window.onload = function () {
            if (currentWindowOnload) {
                currentWindowOnload();
            }
            execJasmine();
        };

        function execJasmine() {
            jasmineEnv.execute();
        }

    })();
</script>

{% endblock %}
