<% if (rev) { %>
<p>This is an old revision of this page, last edited by <%= rev.name %> at <%= moment.unix(rev.date).calendar() %>. It may differ significantly from the current revision. You can <a href="#" class="revert">revert it</a> or
<a href="/pages/<%= slug %>">switch back to editing mode</a>.
</>
<% } %>

<% if (revisions.length) { %>
    <p id="revisions_browser">
        <% if (prev) { %>
        <span id="revisions_browser_prev">
            <a href="/pages/<%= slug %>/<%= prev.id %>">previous revision</a>
        </span>
        <% }; %>
        <% if (next) { %>
        <span id="revisions_browser_next">
            <a href="/pages/<%= slug %>/<%= next.id %>">next revision</a>
        </span>
        <% }; %>
    </p>

    <ul class="revision_list">
        <% _.each(revisions, function(revision) { %>
        <li<% if (rev && revision.id === rev.id) { %> class="current"<% }; %>>
        <p><a href="/pages/<%= slug %>/<%= revision.id %>"><%= moment.unix(revision.date).calendar() %>, by <%= revision.name %></a></p>
            <blockquote><%= revision.message %></blockquote>
        </li>
        <% }); %>
    </ul>
<% } else { %>
    There is no revisions for this page
<% } %>
