<div class="controls hidden">
    <div class="control-group">
        <a class="play fa fa-play"></a> <a class="previous fa fa-step-backward disabled"></a> <a class="next fa fa-step-forward disabled"></a>
        <span class="timer"><span class="current_time">00:00:00,000</span> <span class="separator">/</span> <span class="duration">00:00:00,000</span></span>
    </div>
    <input type="range" id="seek-bar" value="0" disabled>
    <div id="faux-seek-bar"><div id="faux-seek-bar-interior"></div></div>
</div>
