<div class="accordion">
    <ul>
        <li><a href="#tab-help">help</a></li>
        <li><a href="#tab-commits">history</a></li>
        <li><a href="#tab-permissions">permissions</a></li>
    </ul>

    <div id="tab-help">
        <p>Description of preferred browser and where to send bugs.</p>
    </div>

    <% if (typeof permissions !== 'undefined') {

    var admin = false;
    if ( _.find(permissions.administer_page, function(admin) { return admin.current == true }) ) {
        var admin = true;
    }

    var public = false;
    if ( _.some(permissions.view_page, function(p) { return p.id === -1; }) ) {
        var isPublic = true;
    }

    %>

    <div id="tab-permissions">
        <fieldset id="permissions-visible">
            <legend>Visible by</legend>
            <label>
                <input type="radio" name="visibleBy" value="public"<% if (isPublic) { %> checked<% }; if (!admin) { %> disabled<% }%>>
                The public
            </label>
            <label>
                <input type="radio" name="visibleBy" value="selected"<% if (!isPublic) { %>  checked<% }; if (!admin) { %> disabled<% }%>>
                Selected:
            </label>
            <ul class="tags">
                <% _.each(permissions.view_page, function(permitted) {
                    if (permitted.id !== -1)  { %>
                <li rel="<%= permitted.uri %>"><%= permitted.name %><% if (admin) { %> <span class="del">×</span><% } %></li>
                <%  }
                }); %>
                <% if (admin) { %><li class="add">Add <span>+</span></li><% } %>
            </ul>
        </fieldset>
        <fieldset id="permissions-editable">
            <legend>Editable by</legend>
            <ul class="tags">
                <% _.each(permissions.change_page, function(permitted) { %>
                <li rel="<%= permitted.uri %>"><%= permitted.name %><% if (admin) { %> <span class="del">×</span><% } %></li>
                <% }); %>
                <% if (admin) { %><li class="add">Add <span>+</span></li><% } %>
            </ul>
        </fieldset>
        <fieldset id="permissions-administrated">
            <legend>Administrated by</legend>
            <ul class="tags">
                <% _.each(permissions.administer_page, function(permitted) { %>
                <li rel="<%= permitted.uri %>"><%= permitted.name %><% if (admin) { %> <span class="del">×</span><% } %></li>
                <% }); %>
                <% if (admin) { %><li class="add">Add <span>+</span></li><% } %>
            </ul>
        </fieldset>
    </div>
    <% } %>

    <div id="tab-commits">
        <% if (revisions) { %>
        <ul id="commit-list">
            <% _.each(revisions, function(revision) { %>
            <li>
                <p><%= moment.unix(revision.date).calendar() %>, by <%= revision.name %> (<%= revision.id %>)</p>
                <blockquote><%= revision.message %></blockquote>
            </li>
            <% }); %>
        </ul>
        <% } %>
    </div>
</div>
